.sidebar {
  width: 250px;
  min-height: 100vh;
  transition: width 0.3s ease;
  background: linear-gradient(180deg, #6a4cff 0%, #b29bf0 100%);
  z-index: 1000;
}

.sidebar.closed {
  width: 70px;
}

/* Para que los links no se amontonen cuando el sidebar se cierra */
.sidebar.closed span, 
.sidebar.closed h2 {
  display: none;
}

.sidebar a {
  text-decoration: none;
  transition: 0.2s;
}

.sidebar a:hover {
  background: rgba(255, 255, 255, 0.1);
}

.router-link-active {
  background: rgba(255, 255, 255, 0.2) !important;
  font-weight: bold;
}

.main-content {
  flex: 1;
  height: 100vh;
  overflow-y: auto;
  background-color: #f8f9fa;
}

